* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  a {
    text-decoration: none;
    font-family: "manrope", sans-serif;
    color: black;
    font-weight: bold;
  }
  .navLeft {
    #logo{    
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
      background-image: url("../dist/images/logo.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 100px;
    }
    }
    
  }
  .links{
    #signup, #login{
      width: 80px;
      background-color: green;
      padding: 10px;
      border-radius: 15px;
    }
  }
}
